/* @layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */

body {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

.container {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}